{% extends 'base.html' %}
{% block content %}
        <h1> Here is an information page about {{userprofile.name}}! </h1>
                <p>
                    Name: {{userprofile.user.get_full_name}} <br>
                    Date of Birth: {{userprofile.dob}} <br>
                    Country: {{userprofile.country}} <br>
                    Books Read:
                        {% for book in userprofile.books_read.all %}
                            {{book.title}},
                        {% endfor %}
                    <br>
                    Books Wanted:
                        {% for book in userprofile.books_wanted.all %}
                            {{book.title}},
                        {% endfor %}
                    <br>
                    Genre:
                        {% for genre in userprofile.genre.all %}
                            {{genre.name}},
                        {% endfor %}
                    <br>
                    Languages:
                        {% for language in userprofile.languages.all %}
                            {{language.name}},
                        {% endfor %}
                    <br>
                </p>
                <br>
        </p>
{% endblock %}
