{% load staticfiles %}

<html>
    <head>
        <title> BookFlod Book</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <h3>
            Get to your other favorite pages:
            <a href= "{% url 'home' %}" > Home</a>
            &nbsp;
            <a href= "{% url 'books' %}" > Books</a>
            &nbsp;
            <a href= "{% url 'userprofiles' %}" > User Profiles</a>
        </h3>

        {% block content %}
        {% endblock %}

    </body>
</html>
